*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:white;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
img{ 
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.score-bord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}
#com-score, #user-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
@media ( max-width:600px){
    .choice{
        height: 80px;
        width: 80px;
        border: 1px;
    }
    *{
        font-size: 1rem;
    }
    .choice:hover{
        background-color: white;
    }
    img{
        height: 50px;
        width: 50px;
        border: 1px;
    }
    .score-bord{
        size: 90px;
    }
    #msg{
        font-size: 1rem;
    }
    .msg-container{
        margin-top: 20px;
        size: 30px;
    }

}